Repository pp-pppp/amadda, pull requests merged in 2023-11, with the labels that each got.

#105 Feat: 알림 목록 반환 시 설정값 반환
  backend/src/main/java/com/pppppp/amadda/alarm/controller/AlarmController.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/response/AlarmReadResponse.java
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
Labels: backend

#102 Feat: Schedule 도메인 수정, 삭제 기능 Service layer 코드 작성
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/CategoryErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/CommentErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/ScheduleErrorCode.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/CategoryPatchRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/SchedulePatchRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Category.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Participation.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Schedule.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/CommentRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ParticipationRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#107 Feat: 유저아이디로 유저랑 친구관계 검색 테스트&기능 구현
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/FriendErrorCode.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserRelationResponse.java
  backend/src/main/java/com/pppppp/amadda/user/repository/UserRepository.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/repository/UserRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#108 Refactor: requestDto 타입 수정 및 테스트 코드 수정
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserInitRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserJwtRequest.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#109 Feat: 내 유저 정보 가져오기 기능&테스트 구현
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#111 Feat: switch 컴포넌트가 onToggle함수를 받을 수 있도록 수정
  frontend/_packages/@external-temporal/components/interaction/Switch/Switch.stories.ts
  frontend/_packages/@external-temporal/components/interaction/Switch/Switch.tsx
Labels: frontend

#112 Feat: List 기본 스타일링 제거 및, display 타입 추가
  frontend/_packages/@external-temporal/components/view/List/List.css.ts
  frontend/_packages/@external-temporal/components/view/List/List.tsx
Labels: frontend

#110 Refactor: 수정 메소드 patch -> put으로 변경
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/CategoryPatchRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Category.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Participation.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Schedule.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#113 Feat: 유저 아이디 중복 검사 기능&테스트 구현
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserCheckRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserCheckResponse.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#115 Feat: 카프카 테스트용 토픽
  backend/src/main/java/com/pppppp/amadda/alarm/controller/KafkaTestController.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/TestValue.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmFriendAccept.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmFriendRequest.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmMentioned.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmScheduleAssigned.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmScheduleNotification.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmScheduleUpdate.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/setting/GlobalSettingValue.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/KafkaConsumer.java
  backend/src/main/resources/application.yml
Labels: backend

#117 Feat: Schedule 도메인 수정, 삭제 API 구현
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/CategoryPatchRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/SchedulePatchRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#116 Feat: 호버용 유저 정보 가져오기 테스트&기능 구현
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#119 Feature: 프론트엔드 axios 유틸 메서드 분리
  frontend/_apps/notice/package.json
  frontend/_apps/notice/pages/api/.gitkeep
  frontend/_apps/notice/utils/http.ts
  frontend/_apps/schedule/package.json
  frontend/_apps/schedule/utils/http.ts
  frontend/_apps/shell/utils/http.ts
  frontend/_apps/user/package.json
  frontend/_apps/user/utils/http.ts
  frontend/_packages/@external-temporal/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#114 Feat: 알림 컴포넌트 수정
  frontend/_apps/notice/components/Notice/Notice.css.ts
  frontend/_apps/notice/components/Notice/Notice.tsx
  frontend/_apps/notice/components/Notice/NoticeToggle.tsx
  frontend/_apps/notice/constants/ALARMTYPE.ts
  frontend/_apps/notice/constants/ALARMUI.ts
Labels: frontend

#118 Refactor: 유저아이디 검사 dto, 로직 수정
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserIdCheckRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserNameCheckRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserCheckResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserIdCheckResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserNameCheckResponse.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#122 Feat: 일정 수정 후 알림 전송 로직 추가
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
Labels: backend

#123 Feat: 닉네임 유효성 검사 테스트&기능 구현
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#124 Fix: build 오류 해결
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/hooks/useIdValidator.tsx
  frontend/_apps/shell/hooks/useNameValidator.tsx
  frontend/_apps/shell/pages/api/auth/[...nextauth].ts
Labels: frontend

#121 Feat: 날짜 조건으로 일정 조회 기능 구현
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#125 Feat: 친구 수락/거절 후 알림 읽음 처리
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
Labels: backend

#126 Feat: 프론트엔드 전역 interface 정의
  frontend/_apps/notice/package.json
  frontend/_apps/schedule/package.json
  frontend/_apps/shell/package.json
  frontend/_apps/user/package.json
  frontend/_packages/global-types/api/AlarmReq.d.ts
  frontend/_packages/global-types/api/AlarmRes.d.ts
  frontend/_packages/global-types/api/CategoryReq.d.ts
  frontend/_packages/global-types/api/CategoryRes.d.ts
  frontend/_packages/global-types/api/CommentReq.d.ts
  frontend/_packages/global-types/api/CommentRes.d.ts
  frontend/_packages/global-types/api/FriendReq.d.ts
  frontend/_packages/global-types/api/FriendRes.d.ts
  frontend/_packages/global-types/api/KafkaTopic.d.ts
  frontend/_packages/global-types/api/ParticipationReq.d.ts
  frontend/_packages/global-types/api/ParticipationRes.d.ts
  frontend/_packages/global-types/api/ScheduleReq.d.ts
  frontend/_packages/global-types/api/ScheduleRes.d.ts
  frontend/_packages/global-types/api/UserReq.d.ts
  frontend/_packages/global-types/api/UserRes.d.ts
  frontend/_packages/global-types/index.d.ts
  frontend/_packages/global-types/mf/mf-types.d.ts
  frontend/_packages/global-types/package.json
  frontend/pnpm-lock.yaml
Labels: frontend

#128 Feat: axios instance 코드에 put 추가
  frontend/_apps/notice/utils/http.ts
  frontend/_apps/schedule/utils/http.ts
  frontend/_apps/shell/utils/http.ts
  frontend/_apps/user/utils/http.ts
Labels: frontend

#130 Refactor: dto 수정
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/SchedulePatchRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/CommentReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleListReadResponse.java
Labels: backend

#129 Refactor: 유저의 카카오 이미지 s3에 저장
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/ImageErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/service/ImageService.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/global/service/ImageServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#132 Feat: JPA 로깅 설정 변경
  backend/src/main/resources/application.yml
Labels: backend

#133 Feat: 현재 서버 시간 반환 API 추가
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleDetailReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleListReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#135 Feat: schedule MobileMonthlyPlate 컴포넌트 추가
  frontend/_apps/docs/stories/schedule/MobileMonthlyPlate.stories.ts
  frontend/_apps/schedule/components/.gitkeep
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.css.ts
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.tsx
  frontend/_packages/@external-temporal/components/view/Icon/Icon.tsx
Labels: frontend

#131 Feat: redux 설치 및 boilerplate 작성
  frontend/_apps/notice/package.json
  frontend/_apps/notice/pages/_app.tsx
  frontend/_apps/notice/store/hooks.ts
  frontend/_apps/notice/store/reducers/.gitkeep
  frontend/_apps/notice/store/store.ts
  frontend/_apps/schedule/package.json
  frontend/_apps/schedule/pages/_app.tsx
  frontend/_apps/schedule/store/hooks.ts
  frontend/_apps/schedule/store/reducers/.gitkeep
  frontend/_apps/schedule/store/store.ts
  frontend/_apps/shell/package.json
  frontend/_apps/shell/pages/_app.tsx
  frontend/_apps/shell/store/hooks.ts
  frontend/_apps/shell/store/reducers/.gitkeep
  frontend/_apps/shell/store/store.ts
  frontend/_apps/user/package.json
  frontend/_apps/user/pages/_app.tsx
  frontend/_apps/user/store/hooks.ts
  frontend/_apps/user/store/reducers/.gitkeep
  frontend/_apps/user/store/store.ts
  frontend/pnpm-lock.yaml
Labels: frontend

#136 Refactor: 트랜젝션얼, dto, put 수정
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendService.java
  backend/src/main/java/com/pppppp/amadda/friend/service/GroupMemberService.java
  backend/src/main/java/com/pppppp/amadda/friend/service/UserGroupService.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/GroupMemberServiceTest.java
Labels: backend

#137 Feat: 추가 할당 알림 전송
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#138 Fix: 테스트 코드 수정
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
Labels: backend

#134 Feat: 일정 생성 및 수정 시 친구관계 확인 로직 추가
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#139 Feat: Nextjs 서버에서 Spring 서버로 통신하는 bridge API 구현
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/pages/api/alarm/subscribe.ts
  frontend/_apps/notice/pages/api/alarm/unsubscribe.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/update.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/update.ts
  frontend/_apps/schedule/pages/api/.gitkeep
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment/[commentSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/participation.ts
  frontend/_apps/schedule/pages/api/schedule/serverTime.ts
  frontend/_apps/shell/pages/api/user/access.ts
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/shell/pages/api/user/refresh.ts
  frontend/_apps/user/pages/api/.gitkeep
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/friend/[friendUserSeq].ts
  frontend/_apps/user/pages/api/friend/group.ts
  frontend/_apps/user/pages/api/friend/group/[groupSeq].ts
  frontend/_apps/user/pages/api/friend/request.ts
  frontend/_apps/user/pages/api/friend/request/[requestSeq].ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_apps/user/pages/api/user/category/[categorySeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_packages/global-types/api/FriendRes.d.ts
Labels: frontend

#140 Feat: 일정 수정 알림 변경
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
Labels: backend

#141 Refactor: 토큰으로 유저 판별 메소드 추가 및 유저&친구 컨트롤러 공사
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/HttpErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/util/TokenProvider.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/global/util/TokenProviderTest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/TokenProviderTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#144 Fix: s3 업로드 수정
  backend/src/main/java/com/pppppp/amadda/global/service/ImageService.java
Labels: backend

#146 Fix: 카프카 토픽 프로파일별 분리
  backend/src/main/java/com/pppppp/amadda/alarm/entity/KafkaTopic.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/KafkaConsumer.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#147 Feat: 일정의 공통 부분 수정 시에만 일정 수정 알림 전송
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
Labels: backend

#149 Feat: 친구삭제 시 그룹멤버에서도 삭제 테스트기능 구현
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/repository/GroupMemberRepository.java
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendRequestService.java
  backend/src/main/java/com/pppppp/amadda/friend/service/GroupMemberService.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/GroupMemberRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/GroupMemberServiceTest.java
Labels: backend

#150 Refactor: 일정 다중 조회 API 반환 타입 List -> Map으로 변경
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#151 Feat: 토큰으로 유저seq 가져오기 추가
  backend/src/main/java/com/pppppp/amadda/alarm/controller/AlarmController.java
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
Labels: backend

#153 Refactor: 안내 문구 수정
  backend/src/main/java/com/pppppp/amadda/alarm/dto/request/AlarmConfigRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/FriendRequestRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/GroupCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/GroupUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/CategoryUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/CommentCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ScheduleUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserIdCheckRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserInitRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserJwtRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserNameCheckRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserRefreshRequest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
Labels: backend

#145 Chore: cors 관련 헤더 추가
  frontend/_apps/notice/next.config.js
  frontend/_apps/schedule/next.config.js
  frontend/_apps/shell/next.config.js
  frontend/_apps/user/next.config.js
Labels: frontend

#154 Refactor: findBySeq를 findById로 변경
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/KafkaConsumer.java
  backend/src/main/java/com/pppppp/amadda/friend/repository/FriendRequestRepository.java
  backend/src/main/java/com/pppppp/amadda/friend/service/GroupMemberService.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/CategoryRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/CommentRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ParticipationRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ScheduleRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/main/java/com/pppppp/amadda/user/repository/UserRepository.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/repository/UserRepositoryTest.java
Labels: backend

#156 Test; ScheduleController 수정, 삭제 성공 테스트 추가
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
Labels: backend

#155 Feat: MobileCalendarIndex 컴포넌트 추가(요일)
  frontend/_apps/docs/.storybook/main.ts
  frontend/_apps/docs/stories/schedule/MobileCalendarIndex.stories.ts
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendarIndex/MobileCalendarIndex.css.ts
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendarIndex/MobileCalendarIndex.tsx
  frontend/_apps/schedule/constants/WEEKDAY.ts
  frontend/_apps/schedule/tsconfig.json
Labels: frontend

#157 Fix: 빌드 오류 해결을 위한 경로 수정
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.tsx
  frontend/_apps/schedule/pages/_app.tsx
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment/[commentSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/participation.ts
  frontend/_apps/schedule/pages/api/schedule/serverTime.ts
  frontend/_packages/@external-temporal/index.tsx
  frontend/_packages/@external-temporal/util/global.css.ts
Labels: frontend

#158 Feat: 일정 서비스 내 알림 테스트 추가
  backend/src/main/java/com/pppppp/amadda/alarm/service/KafkaProducer.java
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#161 Feat: 일정 수정 API 분리
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ParticipationUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ScheduleUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ParticipationUpdateResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Participation.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#162 Feat: 일정 예정 알림 Consume
  backend/src/main/java/com/pppppp/amadda/alarm/service/KafkaConsumer.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
Labels: backend

#159 Chore: config path 변경
  frontend/_apps/docs/.storybook/main.ts
  frontend/_apps/notice/pages/_app.tsx
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/tsconfig.json
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/components/SignUpCaption/SignUpCaption.tsx
  frontend/_apps/shell/components/SignUpCaption/SignUpCation.css.ts
  frontend/_apps/shell/pages/_app.tsx
  frontend/_apps/shell/pages/api/user/access.ts
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/shell/pages/api/user/refresh.ts
  frontend/_apps/shell/pages/index.tsx
  frontend/_apps/shell/pages/main.tsx
  frontend/_apps/shell/tsconfig.json
  frontend/_apps/user/pages/_app.tsx
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/friend/[friendUserSeq].ts
  frontend/_apps/user/pages/api/friend/group.ts
  frontend/_apps/user/pages/api/friend/group/[groupSeq].ts
  frontend/_apps/user/pages/api/friend/request.ts
  frontend/_apps/user/pages/api/friend/request/[requestSeq].ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_apps/user/pages/api/user/category/[categorySeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_apps/user/tsconfig.json
Labels: frontend

#160 Chore: redux legacy 코드 제거
  frontend/_apps/notice/pages/_app.tsx
  frontend/_apps/schedule/pages/_app.tsx
  frontend/_apps/shell/pages/_app.tsx
  frontend/_apps/user/pages/_app.tsx
Labels: frontend

#164 refactor: 유저seq auto-increment로 바꾸고 테스트 대공사
  backend/src/main/java/com/pppppp/amadda/user/entity/User.java
  backend/src/test/java/com/pppppp/amadda/friend/entity/UserGroupTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/FriendRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/GroupMemberRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/UserGroupRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/GroupMemberServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/UserGroupServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ScheduleRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/user/repository/UserRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#166 Feat: 유저 회원탈퇴 기능&테스트 구현
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/entity/User.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/entity/UserTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#167 Feat: 일정 조회 시 종료 여부 전달
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleDetailReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleListReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#168 Refactor: 회원가입 시 아이디 중복 체크 한번더
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/UserErrorCode.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#169 test: 테스트 환경에서 EmbeddedKafka로 분리
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#170 Feat: 알림 시간, 알림 전송 여부 칼럼 추가, 참석 정보 생성 시 알림 시간 자동 설정
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleDetailReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleListReadResponse.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/AlarmTime.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Participation.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: backend

#171 Feat: controller 테스트 환경 통합
  backend/src/test/java/com/pppppp/amadda/ControllerTestSupport.java
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/entity/AlarmContentTest.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
Labels: backend

#173 Feat: REST API URI 수정
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
Labels: backend

#172 Feat: 친구 관련 알림 전송 위치를 service단으로 변경
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendRequestService.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
Labels: backend

#174 Refactor: 친구신청 거절 로직 수정
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendRequestService.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
Labels: backend

#175 Feat: 일정 예정 알림 배치 처리
  backend/build.gradle
  backend/src/main/java/com/pppppp/amadda/AmaddaApplication.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Participation.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ParticipationRepository.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
Labels: backend

#177 Refactor: 유저랑 그룹 dto에서 유저seq 제거
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/FriendRequestRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/GroupCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendRequestService.java
  backend/src/main/java/com/pppppp/amadda/friend/service/UserGroupService.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/GroupMemberServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/UserGroupServiceTest.java
Labels: backend

#176 Feat: 알림 관련 request 내 userSeq 제거
  backend/src/main/java/com/pppppp/amadda/alarm/controller/AlarmController.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/request/AlarmConfigRequest.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
Labels: backend

#178 Refactor: 유저 엔티티에 kakaoId랑 증가키 다 넣음
  backend/src/main/java/com/pppppp/amadda/friend/repository/FriendRepository.java
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendRequestService.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserInitRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserJwtRequest.java
  backend/src/main/java/com/pppppp/amadda/user/entity/User.java
  backend/src/main/java/com/pppppp/amadda/user/repository/UserRepository.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/entity/FriendRequestTest.java
  backend/src/test/java/com/pppppp/amadda/friend/entity/UserGroupTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/FriendRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/FriendRequestRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/GroupMemberRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/UserGroupRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/GroupMemberServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/UserGroupServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/CategoryRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/CommentRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ParticipationRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ScheduleRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/entity/UserTest.java
  backend/src/test/java/com/pppppp/amadda/user/repository/UserRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#179 Feat: 친구 기능 추가
  frontend/_apps/docs/.storybook/preview.tsx
  frontend/_apps/docs/stories/user/Friend.stories.ts
  frontend/_apps/docs/stories/user/FriendFrame.stories.tsx
  frontend/_apps/user/components/Friend/Friend/Friend.tsx
  frontend/_apps/user/components/Friend/FriendFrame/FriendFrame.css.ts
  frontend/_apps/user/components/Friend/FriendFrame/FriendFrame.tsx
  frontend/_apps/user/components/Friend/FriendGroupData/FriendGroupData.tsx
  frontend/_apps/user/components/Friend/FriendGroupData/GroupEdit.css.ts
  frontend/_apps/user/components/Friend/FriendGroups/FriendGroups.tsx
  frontend/_apps/user/components/Friend/FriendGroups/Friends.css.ts
  frontend/_apps/user/components/Friend/FriendSearch/FriendSearch.css.ts
  frontend/_apps/user/components/Friend/FriendSearch/FriendSearch.tsx
  frontend/_apps/user/constants/FRIENDS.ts
  frontend/_apps/user/hooks/useFriend.ts
  frontend/_apps/user/pages/friend/index.tsx
  frontend/_packages/@external-temporal/components/interaction/BtnRound/BtnRound.css.ts
  frontend/_packages/@external-temporal/components/interaction/BtnRound/BtnRound.tsx
  frontend/_packages/@external-temporal/components/layout/Flex.css.ts
  frontend/_packages/@external-temporal/components/layout/Flex.tsx
  frontend/_packages/@external-temporal/components/view/Profile/Profile.stories.ts
  frontend/_packages/global-types/api/FriendReq.d.ts
  frontend/_packages/global-types/api/FriendRes.d.ts
Labels: frontend

#182 Feat: 알림 엔티티 구조 변경
  backend/src/main/java/com/pppppp/amadda/alarm/entity/Alarm.java
  backend/src/main/java/com/pppppp/amadda/alarm/entity/FriendRequestAlarm.java
  backend/src/main/java/com/pppppp/amadda/alarm/entity/ScheduleAlarm.java
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/repository/FriendRequestAlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/repository/ScheduleAlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/KafkaConsumer.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
Labels: backend

#181 Fix: 변수명 수정에 따른 속성 변경
  frontend/_apps/schedule/components/MobileDailyPlate/MobileDailyPlate.tsx
Labels: frontend

#183 Refactor: 탈퇴시 유저 이미지 삭제 추가
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/ImageErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/service/ImageService.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/global/service/ImageServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#185 Refactor: 코드 스타일 포맷
  backend/src/main/java/com/pppppp/amadda/alarm/entity/AlarmType.java
  backend/src/main/java/com/pppppp/amadda/alarm/entity/KafkaTopic.java
  backend/src/main/java/com/pppppp/amadda/config/S3Config.java
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/request/GroupCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/response/FriendRequestResponse.java
  backend/src/main/java/com/pppppp/amadda/friend/dto/response/FriendResponse.java
  backend/src/main/java/com/pppppp/amadda/friend/repository/FriendRequestRepository.java
  backend/src/main/java/com/pppppp/amadda/friend/service/FriendService.java
  backend/src/main/java/com/pppppp/amadda/friend/service/GroupMemberService.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/ErrorResponse.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/RestApiException.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/ErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/ImageErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/UserErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/util/S3Util.java
  backend/src/main/java/com/pppppp/amadda/global/util/TokenProvider.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/CategoryColor.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/CategoryRepository.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserAccessResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserIdCheckResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserJwtInitResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserJwtResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserNameCheckResponse.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserRelationResponse.java
  backend/src/main/java/com/pppppp/amadda/user/entity/User.java
  backend/src/main/java/com/pppppp/amadda/user/repository/UserRepository.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/AmaddaApplicationTests.java
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/entity/UserGroupTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/FriendRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/global/service/ImageServiceTest.java
  backend/src/test/java/com/pppppp/amadda/global/util/TokenProviderTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/entity/UserTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: backend

#186 Chore: friends 페이지 expose 및 기타 설정
  frontend/_apps/shell/pages/friends/index.tsx
  frontend/_apps/user/next.config.js
  frontend/_packages/global-types/mf/mf-types.d.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/turbo.json
Labels: Frontend

#187 Refactor: gradle에서 시큐리티 제거
  backend/build.gradle
Labels: Backend

#188 Chore: global build 시에 global dotenv cli가 작동하도록 설정
  frontend/package.json
Labels: Frontend

#189 Refactor: 쿠키 없음 401에러로 수정
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/HttpErrorCode.java
Labels: Backend

#191 Refactor: base entity에서 isDeleted 삭제
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/java/com/pppppp/amadda/global/entity/BaseEntity.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/CategoryRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/CommentRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ParticipationRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ScheduleRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/CategoryRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/CommentRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ParticipationRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ScheduleRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: Backend

#192 Refactor: 문자열 리팩토링
  backend/src/main/java/com/pppppp/amadda/alarm/repository/AlarmRepository.java
  backend/src/main/java/com/pppppp/amadda/friend/controller/FriendController.java
  backend/src/main/java/com/pppppp/amadda/friend/repository/FriendRepository.java
  backend/src/main/java/com/pppppp/amadda/friend/repository/GroupMemberRepository.java
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/main/java/com/pppppp/amadda/schedule/repository/ParticipationRepository.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/friend/controller/FriendControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
Labels: Backend

#193 Refactor: s3 mocking 수정
  backend/src/test/java/com/pppppp/amadda/global/service/ImageServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: Backend

#194 Refactor: 코드 스타일 적용
  backend/src/main/java/com/pppppp/amadda/friend/service/GroupMemberService.java
  backend/src/main/java/com/pppppp/amadda/global/entity/BaseEntity.java
  backend/src/test/java/com/pppppp/amadda/global/service/ImageServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: Backend

#196 Fix: 알림 API 수정
  backend/src/main/java/com/pppppp/amadda/alarm/dto/response/AlarmReadResponse.java
Labels: Backend

#198 Fix: 카프카 토픽에 relatedSeq 추가
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/BaseTopicValue.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmFriendAccept.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmFriendRequest.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmMentioned.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmScheduleAssigned.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmScheduleNotification.java
  backend/src/main/java/com/pppppp/amadda/alarm/dto/topic/alarm/AlarmScheduleUpdate.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
Labels: Backend

#199 Feat : 포팅매뉴얼 작성
  _exec/.gitkeep
  exec/porting_manual.md
  infra/.gitkeep
Labels: Infra

#200 Refactor: 유저 메소드 수정
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
Labels: Backend

#190 Fix: middleware matcher 및 토큰 저장 방식 수정
  frontend/_apps/notice/middleware.ts
  frontend/_apps/schedule/middleware.ts
  frontend/_apps/shell/middleware.ts
  frontend/_apps/shell/pages/api/auth/[...nextauth].ts
  frontend/_apps/shell/pages/main.tsx
  frontend/_apps/user/middleware.ts
  frontend/_packages/connection/index.d.ts
  frontend/_packages/connection/index.ts
  frontend/_packages/connection/kv.ts
  frontend/_packages/connection/middleware.ts
  frontend/_packages/connection/package.json
  frontend/_packages/connection/redis.ts
  frontend/_packages/global-types/api/UserReq.d.ts
  frontend/pnpm-lock.yaml
Labels: Frontend

#201 Refactor: REST API uri 수정
  backend/src/main/java/com/pppppp/amadda/schedule/controller/ScheduleController.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
Labels: Backend

#203 Fix: 일정 상세보기 시 authorizedUser 반환하도록 수정
  backend/src/main/java/com/pppppp/amadda/schedule/dto/response/ScheduleDetailReadResponse.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: Backend

#204 Refactor: 유저 컨트롤러 param명 수정
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
Labels: Backend

#206 Fix: 참가정보 생성, 수정 request 시 알림 시간 설정 방법 수정
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ParticipationUpdateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/dto/request/ScheduleCreateRequest.java
  backend/src/main/java/com/pppppp/amadda/schedule/entity/Participation.java
  backend/src/main/java/com/pppppp/amadda/schedule/service/ScheduleService.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/controller/ScheduleControllerTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: Backend

#208 Feat: request의 enum을 string으로 변경
  backend/src/main/java/com/pppppp/amadda/alarm/dto/request/AlarmConfigRequest.java
  backend/src/main/java/com/pppppp/amadda/alarm/entity/AlarmType.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
Labels: Backend

#205 Fix: 알림 api interface 수정
  frontend/_apps/user/components/Friend/FriendGroups/FriendGroups.tsx
  frontend/_packages/global-types/api/FriendReq.d.ts
Labels: Frontend

#210 Feat: 일정창 SSE를 위한 카프카 토픽 추가
  backend/src/main/java/com/pppppp/amadda/alarm/entity/KafkaTopic.java
  backend/src/main/java/com/pppppp/amadda/alarm/service/AlarmService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
Labels: Backend

#213 Test: 테스트 환경 통합
  backend/src/test/java/com/pppppp/amadda/IntegrationTestSupport.java
  backend/src/test/java/com/pppppp/amadda/alarm/entity/AlarmContentTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
  backend/src/test/java/com/pppppp/amadda/friend/entity/FriendRequestTest.java
  backend/src/test/java/com/pppppp/amadda/friend/entity/UserGroupTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/FriendRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/FriendRequestRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/GroupMemberRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/repository/UserGroupRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendRequestServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/FriendServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/GroupMemberServiceTest.java
  backend/src/test/java/com/pppppp/amadda/friend/service/UserGroupServiceTest.java
  backend/src/test/java/com/pppppp/amadda/global/service/ImageServiceTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/CategoryRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/CommentRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ParticipationRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/repository/ScheduleRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/schedule/service/ScheduleServiceTest.java
  backend/src/test/java/com/pppppp/amadda/user/entity/UserTest.java
  backend/src/test/java/com/pppppp/amadda/user/repository/UserRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: Backend

#211 Test: DisplayName 수정
  backend/src/test/java/com/pppppp/amadda/alarm/controller/AlarmControllerTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/entity/AlarmContentTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmConfigRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/repository/AlarmRepositoryTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/AlarmServiceTest.java
  backend/src/test/java/com/pppppp/amadda/alarm/service/KafkaConsumerTest.java
Labels: Backend

#214 Feat: Chip 컴포넌트 추가
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.css.ts
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.stories.ts
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.tsx
  frontend/_packages/@external-temporal/components/interaction/Label/Label.tsx
  frontend/_packages/@external-temporal/components/view/Icon/Icon.tsx
Labels: Frontend

#215 Fix: 체크박스 체크 이미지 및 로고 이미지 삽입
  frontend/_apps/shell/pages/index.tsx
  frontend/_apps/shell/public/image/amadda_logo.svg
  frontend/_apps/shell/public/image/checked.svg
Labels: Frontend

#216 Chore: Chip 컴포넌트 export
  frontend/_packages/@external-temporal/index.tsx
Labels: Frontend

#218 Fix: 카프카 모듈 임포트 경로 수정
  frontend/_apps/notice/pages/api/event.ts
Labels: Frontend

#207 Feat: 모바일 메인 캘린더 추가
  frontend/_apps/docs/stories/schedule/MobileCalendarDate.stories.ts
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendar.css.ts
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendar.tsx
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendarDate/MobileCalendarDate.css.ts
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendarDate/MobileCalendarDate.tsx
  frontend/_apps/schedule/components/MobileDailyPlate/MobileDailyPlate.css.ts
  frontend/_apps/schedule/components/MobileDailyPlate/MobileDailyPlate.tsx
  frontend/_apps/schedule/components/MobileDailyPlateList/MobileDailyPlateList.css.ts
  frontend/_apps/schedule/components/MobileDailyPlateList/MobileDailyPlateList.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMain.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/CalendarHeader/CalendarHeader.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/DailyList/DailyList.css.ts
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/DailyList/DailyList.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/MobileMonthlyPage.tsx
  frontend/_apps/schedule/components/MobileMain/MobileUnscheduledPage/MobileUnscheduledPage.tsx
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.css.ts
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.tsx
  frontend/_apps/schedule/constants/CALENDAR.ts
  frontend/_apps/schedule/constants/DAILYPLATE_TEXT.ts
  frontend/_apps/schedule/hooks/useCalendarInfo.ts
  frontend/_apps/schedule/hooks/useCategory.ts
  frontend/_apps/schedule/hooks/useScheduleList.ts
  frontend/_apps/schedule/hooks/useServerTime.ts
  frontend/_apps/schedule/layout/Layout.css.ts
  frontend/_apps/schedule/next.config.js
  frontend/_apps/schedule/pages/_app.tsx
  frontend/_apps/schedule/pages/api/schedule/serverTime.ts
  frontend/_apps/schedule/pages/index.tsx
  frontend/_apps/schedule/store/.gitkeep
  frontend/_apps/schedule/store/categoryStore.ts
  frontend/_apps/schedule/store/dateStore.ts
  frontend/_apps/schedule/store/filterStore.ts
  frontend/_apps/schedule/utils/convertColors.ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_packages/@external-temporal/components/typography/Hn/H1.tsx
  frontend/_packages/@external-temporal/components/typography/Hn/H2.tsx
  frontend/_packages/@external-temporal/components/view/Filter/Filter.css.ts
  frontend/_packages/@external-temporal/components/view/Filter/Filter.tsx
  frontend/_packages/@external-temporal/util/global.css.ts
  frontend/_packages/global-types/api/CategoryRes.d.ts
  frontend/_packages/global-types/api/ScheduleRes.d.ts
  frontend/_packages/global-types/mf/mf-types.d.ts
Labels: Frontend

#219 Fix: 공통 컴포넌트 수정
  frontend/_packages/@external-temporal/components/interaction/Btn/Btn.stories.ts
  frontend/_packages/@external-temporal/components/interaction/Btn/Btn.tsx
  frontend/_packages/@external-temporal/components/interaction/BtnRound/BtnRound.stories.ts
  frontend/_packages/@external-temporal/components/interaction/BtnRound/BtnRound.tsx
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.css.ts
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.stories.ts
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.tsx
  frontend/_packages/@external-temporal/components/interaction/Input/Input.stories.ts
  frontend/_packages/@external-temporal/components/interaction/Input/Input.tsx
  frontend/_packages/@external-temporal/components/interaction/Textarea/Textarea.css.ts
  frontend/_packages/@external-temporal/components/interaction/Textarea/Textarea.tsx
Labels: Frontend

#220 Fix: onFiltered와 onDelete가 모든 데이터를 넘길 수 있도록 수정
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.tsx
Labels: Frontend

#221 Refactor: 토큰 오류 수정
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: Backend

#222 Refactor: 아이디랑 이름 유효성 검사 수정
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserIdCheckRequest.java
  backend/src/main/java/com/pppppp/amadda/user/dto/request/UserNameCheckRequest.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
Labels: Backend

#225 Fix: 인증이 필요하지 않은 api 라우트를 직접 지정
  frontend/_apps/notice/middleware.ts
  frontend/_apps/schedule/middleware.ts
  frontend/_apps/shell/middleware.ts
  frontend/_apps/user/middleware.ts
Labels: Frontend

#226 Feat: Signup API 추가
  frontend/_apps/shell/auth.d.ts
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/hooks/useIdValidator.tsx
  frontend/_apps/shell/hooks/useNameValidator.tsx
  frontend/_apps/shell/pages/api/auth/[...nextauth].ts
  frontend/_apps/shell/pages/api/user/signup.ts
  frontend/_apps/shell/pages/main.tsx
  frontend/_packages/global-types/api/UserReq.d.ts
Labels: Frontend

#223 Feat: Schedule 생성 및 수정 기능 추가
  frontend/_apps/docs/stories/schedule/Category.stories.ts
  frontend/_apps/docs/stories/schedule/ScheduleEdit.stories.ts
  frontend/_apps/schedule/components/ScheduleEdit/Category/Category.css.ts
  frontend/_apps/schedule/components/ScheduleEdit/Category/Category.tsx
  frontend/_apps/schedule/components/ScheduleEdit/Category/Container.tsx
  frontend/_apps/schedule/components/ScheduleEdit/ScheduleEdit.css.ts
  frontend/_apps/schedule/components/ScheduleEdit/ScheduleEdit.tsx
  frontend/_apps/schedule/components/ScheduleEdit/ScheduleEditData.ts
  frontend/_apps/schedule/constants/CREATE.ts
  frontend/_apps/schedule/constants/DAILYPLATE_TEXT.ts
  frontend/_apps/schedule/next.config.js
  frontend/_apps/schedule/pages/edit/index.tsx
  frontend/_apps/schedule/pages/index.tsx
  frontend/_apps/schedule/pages/mobile-main/index.tsx
  frontend/_apps/schedule/utils/formatDate.ts
  frontend/_packages/@external-temporal/components/interaction/Btn/Btn.css.ts
  frontend/_packages/@external-temporal/components/interaction/Input/Input.css.ts
  frontend/_packages/@external-temporal/components/interaction/Input/Input.stories.ts
  frontend/_packages/@external-temporal/components/interaction/Input/Input.tsx
  frontend/_packages/@external-temporal/components/interaction/Textarea/Textarea.css.ts
  frontend/_packages/global-types/api/CategoryRes.d.ts
  frontend/_packages/global-types/api/ScheduleReq.d.ts
  frontend/_packages/global-types/api/ScheduleRes.d.ts
  frontend/_packages/global-types/api/UserRes.d.ts
  frontend/_packages/global-types/mf/mf-types.d.ts
Labels: Frontend

#227 Refactor: 유저 중복 저장 예외 추가
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/UserErrorCode.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
Labels: Backend

#228 Refactor: 토큰 저장위치 수정
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/HttpErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/util/TokenProvider.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/test/java/com/pppppp/amadda/global/util/TokenProviderTest.java
Labels: Backend

#229 Feat: Schedule Detail 추가
  frontend/_apps/schedule/components/ScheduleDetail/ScheduleDetail.css.ts
  frontend/_apps/schedule/components/ScheduleDetail/ScheduleDetail.tsx
  frontend/_apps/schedule/constants/CALENDAR.ts
  frontend/_apps/schedule/pages/schedule/[id]/index.tsx
  frontend/_packages/@external-temporal/components/interaction/Chip/Chip.css.ts
  frontend/_packages/global-types/api/CommentReq.d.ts
  frontend/_packages/global-types/api/CommentRes.d.ts
  frontend/_packages/global-types/api/ScheduleRes.d.ts
Labels: Frontend

#224 Feat: 알림 구독 및 구독 취소 브릿지 구현
  frontend/_apps/notice/pages/api/alarm/subscribe.ts
  frontend/_apps/notice/pages/api/alarm/unsubscribe.ts
Labels: Frontend

#230 Refactor: 토큰 다시 쿠키에 넣기
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/HttpErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/util/TokenProvider.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/test/java/com/pppppp/amadda/global/util/TokenProviderTest.java
Labels: Backend

#231 Refactor: 유저 아이디 이름 유효성 검사 수정
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/UserErrorCode.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: Backend

#232 Refactor: 로그인 로직을 직접 구현합니다.
  frontend/_apps/notice/next.config.js
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/package.json
  frontend/_apps/shell/pages/_app.tsx
  frontend/_apps/shell/pages/api/auth/[...nextauth].ts
  frontend/_apps/shell/pages/api/auth/init.ts
  frontend/_apps/shell/pages/api/user/access.ts
  frontend/_apps/shell/pages/api/user/refresh.ts
  frontend/_apps/shell/pages/api/user/signup.ts
  frontend/_apps/shell/pages/index.tsx
  frontend/_apps/shell/pages/main.tsx
  frontend/_apps/shell/pages/signup.tsx
  frontend/_apps/user/next.config.js
  frontend/_packages/connection/middleware.ts
  frontend/pnpm-lock.yaml
Labels: Frontend

#233 Refactor: 유저 이름 유효성 검사 수정
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
Labels: Backend

#234 Fix: axios 어댑터 이슈로 fetch로 마이그레이트
  frontend/_packages/connection/middleware.ts
Labels: !, Frontend

#235 Feat: module expose
  frontend/_apps/notice/next.config.js
  frontend/_apps/schedule/next.config.js
  frontend/_apps/shell/next.config.js
  frontend/_apps/shell/pages/index.tsx
  frontend/_apps/shell/pages/notice/index.tsx
  frontend/_apps/shell/pages/notice/setting/index.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/edit/index.tsx
  frontend/_apps/shell/pages/schedule/create/index.tsx
  frontend/_apps/shell/pages/schedule/index.tsx
  frontend/_apps/user/next.config.js
  frontend/_packages/global-types/mf/mf-types.d.ts
Labels: Frontend

#236 Fix: KV의 axios를 fetch로 변경
  frontend/_packages/connection/kv.ts
Labels: !, Frontend

#237 Feat: SignUp 로직 변경
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/hooks/useIdValidator.tsx
  frontend/_apps/shell/hooks/useNameValidator.tsx
  frontend/_packages/@external-temporal/index.tsx
  frontend/_packages/@external-temporal/util/throttle.ts
  frontend/_packages/connection/middleware.ts
Labels: Frontend

#238 Hotfix: typo error
  frontend/_packages/connection/middleware.ts
Labels: !, Frontend

#239 Fix: uri 오타 수정
  frontend/_apps/shell/pages/signup.tsx
Labels: !, Frontend

#240 Fix: SingUp 입력 에러 해결
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_packages/@external-temporal/index.tsx
  frontend/_packages/@external-temporal/util/debounce.ts
Labels: Frontend

#241 Chore: next 백엔드 에러 확인을 위한 console.log 추가
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/pages/api/alarm/subscribe.ts
  frontend/_apps/notice/pages/api/alarm/unsubscribe.ts
  frontend/_apps/notice/pages/api/event.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/update.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/update.ts
  frontend/_apps/schedule/pages/api/event.ts
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/serverTime.ts
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_apps/user/pages/api/user/category/[categorySeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_packages/connection/middleware.ts
Labels: Frontend

#243 Fix: middleware에서 서버 간 통신 시 쿠키를 명시적으로 첨부
  frontend/_packages/connection/middleware.ts
Labels: Frontend

#244 Fix: axios method에 withcredentials와 content-type header 추가
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/utils/http.ts
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment/[commentSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/participation.ts
  frontend/_apps/schedule/pages/api/schedule/server-time.ts
  frontend/_apps/schedule/utils/http.ts
  frontend/_apps/shell/utils/http.ts
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/friend/[friendUserSeq].ts
  frontend/_apps/user/pages/api/friend/group.ts
  frontend/_apps/user/pages/api/friend/group/[groupSeq].ts
  frontend/_apps/user/pages/api/friend/request.ts
  frontend/_apps/user/pages/api/friend/request/[requestSeq].ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_apps/user/pages/api/user/category/[categorySeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_apps/user/utils/http.ts
  frontend/_packages/connection/http.ts
Labels: !, Frontend

#245 Fix: 모든 axios import를 connection으로 수정
  frontend/_apps/notice/components/NoticeConfig/NoticeToggle.tsx
  frontend/_apps/notice/hooks/useGetNotice.ts
  frontend/_apps/schedule/components/ScheduleDetail/ScheduleDetail.tsx
  frontend/_apps/schedule/hooks/useCategory.ts
  frontend/_apps/schedule/hooks/useScheduleList.ts
  frontend/_apps/schedule/hooks/useServerTime.ts
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/hooks/useIdValidator.tsx
  frontend/_apps/shell/hooks/useNameValidator.tsx
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/shell/pages/api/user/signup.ts
  frontend/_apps/user/components/Friend/FriendGroups/FriendGroups.tsx
  frontend/_apps/user/components/Friend/FriendSearch/FriendSearch.tsx
  frontend/_apps/user/hooks/useFriend.ts
  frontend/_apps/user/pages/friend/index.tsx
Labels: !, Frontend

#246 Revert "Fix: 모든 axios import를 connection으로 수정"
  frontend/_apps/notice/components/NoticeConfig/NoticeToggle.tsx
  frontend/_apps/notice/hooks/useGetNotice.ts
  frontend/_apps/schedule/components/ScheduleDetail/ScheduleDetail.tsx
  frontend/_apps/schedule/hooks/useCategory.ts
  frontend/_apps/schedule/hooks/useScheduleList.ts
  frontend/_apps/schedule/hooks/useServerTime.ts
  frontend/_apps/shell/components/SignUp/SignUp.tsx
  frontend/_apps/shell/hooks/useIdValidator.tsx
  frontend/_apps/shell/hooks/useNameValidator.tsx
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/shell/pages/api/user/signup.ts
  frontend/_apps/user/components/Friend/FriendGroups/FriendGroups.tsx
  frontend/_apps/user/components/Friend/FriendSearch/FriendSearch.tsx
  frontend/_apps/user/hooks/useFriend.ts
  frontend/_apps/user/pages/friend/index.tsx
Labels: !, Frontend

#249 Feat: next-spring간 통신 시 토큰 교환 방식 Bearer 인증으로 변경
  frontend/_packages/connection/middleware.ts
Labels: Frontend

#248 Refactor: 토큰 다시 헤더에 넣기
  backend/src/main/java/com/pppppp/amadda/global/entity/exception/errorcode/HttpErrorCode.java
  backend/src/main/java/com/pppppp/amadda/global/util/TokenProvider.java
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/global/util/TokenProviderTest.java
Labels: Backend

#250 Feat: 캘린더 css 수정 및 route 연결
  frontend/_apps/schedule/components/MobileCalendar/MobileCalendarDate/MobileCalendarDate.tsx
  frontend/_apps/schedule/components/MobileDailyPlate/MobileDailyPlate.css.ts
  frontend/_apps/schedule/components/MobileDailyPlate/MobileDailyPlate.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMain.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/CalendarHeader/CalendarHeader.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/DailyList/DailyList.tsx
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.css.ts
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.tsx
  frontend/_apps/schedule/components/ScheduleDetail/ScheduleDetail.css.ts
  frontend/_apps/schedule/components/ScheduleEdit/ScheduleEdit.tsx
  frontend/_apps/schedule/hooks/useScheduleList.ts
  frontend/_apps/schedule/hooks/useServerTime.ts
  frontend/_apps/schedule/layout/Layout.css.ts
  frontend/_apps/schedule/next.config.js
  frontend/_apps/shell/layout/Layout.css.ts
  frontend/_apps/shell/layout/MainLayout.tsx
  frontend/_apps/shell/pages/index.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/index.tsx
  frontend/_apps/shell/pages/schedule/create/index.tsx
  frontend/_apps/shell/pages/schedule/index.tsx
  frontend/_packages/global-types/mf/mf-types.d.ts
Labels: Frontend

#251 Fix: props 에러에 따른 빌드 fail 해결
  frontend/_apps/schedule/components/MobileMain/MobileUnscheduledPage/MobileUnscheduledPage.tsx
Labels: Frontend

#252 Refactor: 미들웨어 리팩토링 및 인증로직 분리적용
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/pages/api/alarm/subscribe.ts
  frontend/_apps/notice/pages/api/alarm/unsubscribe.ts
  frontend/_apps/notice/pages/api/event.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/update.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/update.ts
  frontend/_apps/schedule/pages/api/event.ts
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment/[commentSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/participation.ts
  frontend/_apps/schedule/pages/api/schedule/server-time.ts
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/friend/[friendUserSeq].ts
  frontend/_apps/user/pages/api/friend/group.ts
  frontend/_apps/user/pages/api/friend/group/[groupSeq].ts
  frontend/_apps/user/pages/api/friend/request.ts
  frontend/_apps/user/pages/api/friend/request/[requestSeq].ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_apps/user/pages/api/user/category/[categorySeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_packages/connection/auth.ts
  frontend/_packages/connection/index.ts
  frontend/_packages/connection/middleware.ts
Labels: Frontend

#257 Fix: Next - Spring 통신 시 명시적으로 header에 token을 넣도록 수정
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/pages/api/alarm/subscribe.ts
  frontend/_apps/notice/pages/api/alarm/unsubscribe.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/subscribe/update.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/mention.ts
  frontend/_apps/notice/pages/api/schedule/[scheduleSeq]/unsubscribe/update.ts
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment/[commentSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/participation.ts
  frontend/_apps/schedule/pages/api/schedule/server-time.ts
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/shell/pages/api/user/signup.ts
  frontend/_apps/shell/pages/signup.tsx
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/friend/[friendUserSeq].ts
  frontend/_apps/user/pages/api/friend/group.ts
  frontend/_apps/user/pages/api/friend/group/[groupSeq].ts
  frontend/_apps/user/pages/api/friend/request.ts
  frontend/_apps/user/pages/api/friend/request/[requestSeq].ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/category.ts
  frontend/_apps/user/pages/api/user/category/[categorySeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_packages/connection/https.ts
  frontend/_packages/connection/index.ts
Labels: !, Frontend

#259 Feat: 페이지 레이아웃에 헤더 추가
  frontend/_apps/shell/pages/friends/index.tsx
  frontend/_apps/shell/pages/notice/index.tsx
  frontend/_apps/shell/pages/notice/setting/index.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/edit/index.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/index.tsx
  frontend/_apps/shell/pages/schedule/create/index.tsx
  frontend/_apps/shell/pages/schedule/index.tsx
Labels: Frontend

#260 Fix: Bearer 문자열이 두 번 겹쳐서 가지 않도록 수정
  frontend/_packages/connection/https.ts
Labels: !, Frontend

#261 Fix: Notice app의 컴포넌트가 expose되지 않는 문제 수정
  frontend/_apps/notice/next.config.js
  frontend/_apps/schedule/next.config.js
  frontend/_apps/shell/components/Header/Header.tsx
  frontend/_apps/shell/next.config.js
  frontend/_apps/shell/pages/notice/config.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/edit.tsx
  frontend/_apps/shell/pages/schedule/create.tsx
  frontend/_apps/user/next.config.js
  frontend/_packages/global-types/mf/mf-types.d.ts
Labels: Frontend

#263 Fix: 카테고리 api path 오류로 인한 도메인 이동
  frontend/_apps/schedule/components/ScheduleEdit/ScheduleEditData.ts
  frontend/_apps/schedule/hooks/useCategory.ts
  frontend/_apps/schedule/pages/api/schedule/user/category.ts
  frontend/_apps/schedule/pages/api/schedule/user/category/[categorySeq].ts
  frontend/_apps/shell/components/Header/Header.css.ts
Labels: Frontend

#264 Feat: 유저 카카오 아이디 가져오기 기능&테스트
  backend/src/main/java/com/pppppp/amadda/user/controller/UserController.java
  backend/src/main/java/com/pppppp/amadda/user/dto/response/UserKakaoIdResponse.java
  backend/src/main/java/com/pppppp/amadda/user/service/UserService.java
  backend/src/test/java/com/pppppp/amadda/user/controller/UserControllerTest.java
  backend/src/test/java/com/pppppp/amadda/user/service/UserServiceTest.java
Labels: Backend

#265 Refactor: ApiResponse<DTO> 인터페이스 적용 및 서버 사이드의 axios 제거
  frontend/_apps/notice/pages/api/alarm.ts
  frontend/_apps/notice/pages/api/alarm/[alarmSeq].ts
  frontend/_apps/notice/pages/api/alarm/subscribe.ts
  frontend/_apps/notice/pages/api/alarm/unsubscribe.ts
  frontend/_apps/schedule/pages/api/schedule.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment.ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/comment/[commentSeq].ts
  frontend/_apps/schedule/pages/api/schedule/[scheduleSeq]/participation.ts
  frontend/_apps/schedule/pages/api/schedule/server-time.ts
  frontend/_apps/schedule/pages/api/schedule/user/category.ts
  frontend/_apps/schedule/pages/api/schedule/user/category/[categorySeq].ts
  frontend/_apps/shell/pages/api/user/check/id.ts
  frontend/_apps/shell/pages/api/user/check/name.ts
  frontend/_apps/shell/pages/api/user/signup.ts
  frontend/_apps/shell/pages/signup.tsx
  frontend/_apps/user/pages/api/friend.ts
  frontend/_apps/user/pages/api/friend/[friendUserSeq].ts
  frontend/_apps/user/pages/api/friend/group.ts
  frontend/_apps/user/pages/api/friend/group/[groupSeq].ts
  frontend/_apps/user/pages/api/friend/request.ts
  frontend/_apps/user/pages/api/friend/request/[requestSeq].ts
  frontend/_apps/user/pages/api/user.ts
  frontend/_apps/user/pages/api/user/[userSeq].ts
  frontend/_apps/user/pages/api/user/my.ts
  frontend/_packages/connection/http.ts
  frontend/_packages/connection/https.ts
  frontend/_packages/connection/index.ts
  frontend/_packages/connection/kakaoAuth.ts
  frontend/_packages/global-types/api/ApiResponse.d.ts
  frontend/_packages/global-types/index.d.ts
Labels: Frontend

#266 Fix: css flex mixed-support 문제 해결
  frontend/_packages/@external-temporal/components/layout/Flex.css.ts
Labels: Frontend

#268 Fix: 커스텀 flex 태그의 end, start 를 flex-end, flex-start로 대체
  frontend/_apps/schedule/components/MobileDailyPlate/MobileDailyPlate.css.ts
  frontend/_apps/schedule/components/MobileMonthlyPlate/MobileMonthlyPlate.css.ts
  frontend/_apps/schedule/components/ScheduleDetail/ScheduleDetail.css.ts
Labels: Frontend

#269 Fix: Catetory api route 오류 수정
  frontend/_apps/schedule/pages/api/schedule/user/category.ts
  frontend/_apps/schedule/pages/api/schedule/user/category/[categorySeq].ts
Labels: Frontend

#267 Feat: ErrorBoundary 컴포넌트 추가
  frontend/_apps/notice/pages/_app.tsx
  frontend/_apps/notice/pages/notice-config/index.tsx
  frontend/_apps/notice/pages/notice/index.tsx
  frontend/_apps/schedule/components/MobileMain/MobileMonthlyPage/MobileMonthlyPage.tsx
  frontend/_apps/schedule/components/MobileMain/MobileUnscheduledPage/MobileUnscheduledPage.tsx
  frontend/_apps/schedule/components/ScheduleEdit/ScheduleEdit.tsx
  frontend/_apps/shell/pages/friends/index.tsx
  frontend/_apps/shell/pages/notice/config.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/edit.tsx
  frontend/_apps/shell/pages/schedule/[scheduleSeq]/index.tsx
  frontend/_apps/shell/pages/schedule/create.tsx
  frontend/_apps/shell/pages/schedule/index.tsx
  frontend/_apps/user/pages/friend/index.tsx
  frontend/_packages/@external-temporal/components/fallback/ErrorBoundary/ErrorBoundary.css.ts
  frontend/_packages/@external-temporal/components/fallback/ErrorBoundary/ErrorBoundary.stories.ts
  frontend/_packages/@external-temporal/components/fallback/ErrorBoundary/ErrorBoundary.tsx
  frontend/_packages/@external-temporal/components/fallback/Loading/Loading.css.ts
  frontend/_packages/@external-temporal/components/fallback/Loading/Loading.stories.ts
  frontend/_packages/@external-temporal/components/fallback/Loading/Loading.tsx
  frontend/_packages/@external-temporal/index.tsx
Labels: Frontend

#270 Refactor: fetch 커스텀 메서드의 명시적 에러 throw 및 미들웨어 제외 path 추가
  frontend/_packages/connection/http.ts
  frontend/_packages/connection/https.ts
Labels: Frontend
